# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Dataset (terlalu besar untuk Git)
Model/dataset/raw/
Model/dataset/landmarks/
Model/dataset/processed/

# Output models & logs
Model/outputs/models/*.pth
Model/outputs/logs/
Model/outputs/figures/
Model/outputs/results/

# Misc
*.log
*.tmp
